name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.18', '1.17', '1.16', '1.15', '1.14' ]
    name: Compile (Go v${{ matrix.go }})
    steps:
      - uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      # TODO: Set "GO111MODULE=on" for versions below 1.16
      - run: make deps build test install
      # TODO: Use the official action instead?
      #       https://github.com/codecov/codecov-action
      - run: bash <(curl -s https://codecov.io/bash)
        if: success()
